
.my-color {
	color: red;
}

.my-font {
	font-family: 'Work Sans';
}

.my-root-class {
	background: white;
}

.my-root-class body {
	background: url(./assets/background.svg) no-repeat center center fixed;
}

#kc-header {
	display: flex;
	height: 150px;
	justify-content: space-between;
}

#kc-all-for-one-logo {
	margin: 10px;
	width: 100%;
	background-image: url("./assets/a41Logo.png");
	background-repeat: no-repeat;
	background-size: 400px 100px;
}

#kc-header-wrapper {
	padding: 0;
	align-items: baseline;
}